<section>
  <div class="page-header">
    <h4>Apartment status <span class="glyphicon glyphicon-flag"></span></h4>
  </div><br>
  <div class="container text-left">
    <div class="row">
      <div class="col-sm-4">
        <div class="well">
          <div class="row">
            <div class="col-sm-12">
              <div class="list-group">
                <div class="list-group-item">Project Yavne</div>
                <div class="list-group-item">Building A</div>
                <div class="list-group-item">Apartment 35</div>
                <div class="list-group-item"><span class="label label-success ">SOLD</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-offset-4">
        <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>
</section>
