<section>
  <div class="page-header">
    <h1>{{vm.project._id ? 'Edit project form' : 'Project creation form'}}</h1>
  </div>
  <div class="col-md-6">
    <form name="vm.form.projectForm" class="form-horizontal" ng-submit="vm.save(vm.form.projectForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="projectName">Project name</label>
          <input name="projectName" class="form-control" id="projectName" ng-model="vm.project.projectName" type="text" placeholder="Project name" required>
          <div ng-messages="vm.form.projectForm.projectName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project name is mandatory field</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="location">Project location</label>
          <input name="location" class="form-control" id="location" ng-model="vm.project.location" type="text" placeholder="Project location" required>
          <div ng-messages="vm.form.projectForm.location.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project location is mandatory field</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label">Start date</label>
          <md-datepicker type="date" name="startDate" ng-model="vm.project.startDate" placeholder="Fill in start date" required></md-datepicker>
          <div ng-messages="vm.form.projectForm.startDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Please define start date of project</p>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-success" type="submit">{{vm.project._id ? 'Update project' : 'Create project'}}</button>
        </div>
        <div class="text-danger" ng-show="vm.error">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
