<section>
  <div class="page-header">
    <h4>Project description <span class="glyphicon glyphicon-book"></span></h4>
  </div><br>
  <div class="container text-left">
    <div class="row">
      <div class="col-sm-4">
        <div class="well">
          <div class="row">
            <div class="col-sm-12">
              <div class="list-group">
                <div class="list-group-item" ng-bind="vm.project.projectName"></div>
                <div class="list-group-item" ng-bind="vm.project.location"></div>
                <div class="list-group-item" ng-bind="vm.project.location"></div>
                <div class="list-group-item" ng-bind="vm.project.startDate | date:'yyyy-MM-dd'"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <a class="btn btn-success" ui-sref="projects.edit({projectId : vm.project._id})">Edit Project</a>
            </div>
            <div class="col-sm-6">
              <a class="btn btn-danger" ui-sref="projects.remove" ng-click="vm.remove()">Remove Project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <img src="modules/core/client/img/brand/projects.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4">
        <div class="well">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="text-left">Buildings list <span class="glyphicon glyphicon-list"></span></h4>
            </div>
            <div class="col-sm-6">
              <md-button class="md-primary" ui-sref="buildings.create({projectId : vm.project._id, projectName : vm.project.projectName})">Add building <span class="glyphicon glyphicon-plus"></span></md-button>
            </div>
          </div>
          <md-divider></md-divider><hr>
          <div class="row">
            <div class="col-sm-12 text-left">
              <div class="list-group">
                <a class="list-group-item" ng-repeat="building in vm.project.buildings">
                  <span class="glyphicon glyphicon-link"></span> {{building.buildingName}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-offset-4">
        <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
</section>
