  <section>
  <div class="row">
    <div class="col-md-12 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12">
      <img alt="Building Company" class="img-responsive text-center" src="modules/core/client/img/brand/build2.jpg" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>S</strong>ervices</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis </p>
    </div>
    <div class="col-md-3">
      <h2><strong>S</strong>ales</h2>
      <p>parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>C</strong>onstruction</h2>
      <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede </p>
    </div>
    <div class="col-md-3">
      <h2><strong>L</strong>oans</h2>
      <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede </p>
    </div>
  </div>
  <div class="well">
    <h2>Prototype Documentation</h2>
    <p>
      <ul>
        <li><a target="_blank" href="">Authentication and Authorisation mechanism</a>
        </li>
        <li><a target="_blank" href="">Open source file based data base <strong>(MongoDB)</strong></a>
        </li>
        <li><a target="_blank" href="">Support three types of objects <strong>(Project , Building, Apartment)</strong></a>
        </li>
        <li><a target="_blank" href="">Files repository with CRUD operations</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Author <strong>Aleksey Haitman. </strong><div class="glyphicon glyphicon-phone-alt"><strong> 972546236237</strong></div>
  <br>
</section>
