<section>
  <div class="page-header">
    <h3>Add building to project</h3>
  </div>
  <div class="col-md-6">
    <form name="vm.form.buildingForm" class="form-horizontal" ng-submit="vm.save(vm.form.buildingForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="buildingName">Building name</label>
          <input name="buildingName" type="text" ng-model="vm.buildingName" id="buildingName" class="form-control" placeholder="Fill in name is should be unique" required>
          <div ng-messages="vm.form.buildingForm.buildingName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Building name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="address">Address</label>
          <input name="address" data-ng-model="vm.building.address" id="address" class="form-control" placeholder="Fill in address of building"></input>
        </div>
        <div class="form-group">
          <label class="control-label" for="amount">Amount of apartments</label>
          <input name="amount" data-ng-model="vm.building.amount" id="amount" class="form-control" placeholder="default value is 1"/>
        </div>

        <div class="form-group">
          <button class="btn btn-success">{{vm.building._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>

    </form>
  </div>
</section>
